<!doctype html>
<html>
    <head>
		<title>oda</title>
        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
		.main{
			horiz-align: center;
		}
		form{
			horiz-align: center;
			transform: translateX(10%);
		}
		.h1-title{
			horiz-align: center;

			transform: translateX(10%);
		}

	</style>

	</head>
<body>
<section class="main">
<h1 class="h1-title">Select your image</h1>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div class="text-center">
		<img src="{{ url_for('display_image', filename=filename) }}" class="fluid" alt="image">


	</div>

{% endif %}

{% if predicted %}

   <div class="text-center">

	   <img src="{{ url_for('predicted_image', filename=predicted) }}" class="fluid" alt="image">
       <p>
		   <h1>Detected objects</h1>
		      {% for key, value in count_classes.items() %}

      				<h3>{{key}}:{{value}}</h3>

	          {% endfor %}
	   </p>
   </div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <div class="form-group">

			<input type="file" class="form-control-file" name="file" autocomplete="off" required>

          <br>
		  <input type="submit" class="form-control-button btn btn-primary" value="Submit">

	</div>
</form>

	</section>
</body>
</html>