<!doctype html>
<html>
    <head>
		<title>oda</title>
        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <style>
		.main{
			horiz-align: center;
		}
		form{
			align: center;
			transform: translateX(10%);
		}
		.h1-title{
			align: center;

			transform: translateX(10%);
		}

		input[type="file"] {
               display: none;
     }

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #007bff;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

	</style>

	</head>
<body>
<section class="main">

<h1 class="h1-title">Select your image</h1>
	<br>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div class="text-center">
		<img id="preview" src="{{ url_for('display_image', filename=filename) }}" class="fluid" alt="image">


	</div>

{% endif %}

{% if predicted %}

   <div class="text-center">

	   <img src="{{ url_for('display_image', filename=predicted) }}" class="fluid" alt="image">
       <p>
		   <h1>Detected objects</h1>
		      {% for key, value in count_classes.items() %}

      				<h3>{{key}}:{{value}}</h3>

	          {% endfor %}
	   </p>
   </div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <div class="form-group">

		<label for="imageUpload" class="upload-label">
            upload...
        </label>

			<input type="file"  id="imageUpload" class="form-control-file" name="file" autocomplete="off" required>

          <br>
		  <input type="submit" id="submit-btn" class="form-control-button btn btn-primary" value="Submit">

	</div>
</form>

	</section>
</body>

<footer>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</footer>
</html>